{% extends 'base.html' %}
{% block content %}
<div class="container">
	<form action="{{url_for('show', pid=anunciante.pid)}}?_method=PATCH" method="POST">
		<div class="col-12 form_padding">
			<input type="text" name="pid" value="{{anunciante.pid}}">
			<input type="text" name="partner" value="{{anunciante.partner}}">
			<input type="text" name="description" value="{{anunciante.description}}">
		</div>
		<div class="col-12 form_padding">
			<select class="custom-select" name="role">
				<option selected>Negociação</option>
				<option value="1">CPA</option>
				<option value="2">CPL</option>
				<option value="3">CPC</option>
			</select>
		</div>
		<div class="col-12 form_padding">	
			<input type="text" name="extra" value="{{anunciante.extra}}">
		</div>
		<div class="col-12 form_padding">
			<select class="custom-select" name="multitarifa">
				<option selected>Multitarifa?</option>
				<option value="1">Sim</option>
				<option value="2">Não</option>
			</select>
		</div>
		<div class="col-12 form_padding">
			<select class="custom-select" name="liberada">
				<option selected>Liberada?</option>
				<option value="1">Sim</option>
				<option value="2">Não</option>
			</select>
			status atual: {{anunciante.liberada}}
		</div>
		<!--<div class="col-12 form_padding">
			<input type="text" name="liberada" value="atual:{{anunciante.liberada}}">
		</div>-->
		<div class="col-12 form_padding">
			<input type="text" name="ficha" value="{{anunciante.ficha}}">
		</div>
		<div class="col-12 form_padding">
			<input type="submit" value="Editar Anunciante">
		</div>
	</form>
</div>
{% endblock %}