{% extends 'public_base.html' %}
{% block content %}
<div class="container-fluid zeropadding">
		<form action="{{url_for('logmein')}}" method="POST">
			<p><input placeholder="login" type="password" name="password"></p>
			<input class="container" type="submit">
		</form>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<li style="color:white; font-weight:bold;">{{message}}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>
</div>
<footer class="footer">
      <div class="container">
        <span class="text-muted">Desenv. pela <span style="font-style: italic;">equipe de testes</span> do departamento de TI <a href="afilio.com.br">Afilio</a> 2018.</span>
      </div>
</footer>

{% endblock %}
