{% extends 'base.html' %}
{% block content %}
<a href="{{url_for('timeline')}}">Home</a>
<a href="{{url_for('profile_timeline', id=current_user.id)}}">Perfil</a>
<a href="{{url_for('logout')}}">Logout</a>
<h1>Sucesso</h1>

<h2>{{user.username}}</h2>
<h3>{{user.nickname}}</h3>

{% if i.is_following(user)  %}
<form method="POST" action="{{url_for('unfollow', id=user.id)}}">
	<input class="container" placeholder="unfollow" type="submit">
</form>

{% else %}
<form method="POST" action="{{url_for('follow', id=user.id)}}">
	<input class="container" placeholder="follow" type="submit">
</form>

{% endif %}
<form action="{{url_for('profile_timeline', id=current_user.id)}}" method="POST">
	<p><input placeholder="O que você está pensando?" type="text" name="tweet" required></p>
	<input class="container" type="submit">
</form>


{% for tweet in user_tweets %}
	<p>{{tweet.owner_nickname}} - 
	<a href="{{url_for('profile_timeline', id=tweet.tweet_owner)}}">@{{tweet.owner_username}}</a></p>
	<p>{{tweet.content}}, {{tweet.entrada}}</p>
	{% if tweet.tweet_owner == current_user.id %}
		<form method="POST" action="{{url_for('profile_timeline', id=tweet.id)}}?_method=DELETE">
			<input class="container" placeholder="delete" type="submit">
		</form>
	{% endif %}
	
{% endfor %}

{% endblock %}